#schedule {
    padding: 8rem;
    & > header {
        display: flex;
        justify-content: space-between;
        margin-bottom: 2.4rem;
    }

    & section {
        border: .1rem solid var(--gray-600);
        border-radius: .8rem;

        & + section {
            margin-top: 1.2rem;
        }

        & header {
            padding: 1.2rem 2rem;
            display: flex;
            align-items: center;
            gap: 1.2rem;
            border-bottom: .1rem solid var(--gray-600);

            & h3 {
                flex-grow: 1;
            }
        }

        & ul {
            list-style: none;
            padding: 2rem;
        }

        & li {
            padding-block: .4rem;
            display: flex;

            & :first-child {
                font: var(--title-md);
                margin-right: 2rem;
            }

            & :last-child {
                color: red;
                font-weight: bold;
                margin-left: auto;
                cursor: pointer;
            }
        }
    }
}